.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 64px;
	@media (max-width: 768px) {
		padding-left: 24px;
		padding-right: 24px;
	}
}

body {
	color: #393738;
	background-color: $grey-200;
}
footer {
	background-color: white;
}

/* BUTTONS */

.cta-button {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 48px;
}

.cta-link {
	margin-left: 28px;
	margin-right: 8px;

	flex-shrink: 0;
	color: $dark-500;
	font: $button-S;
}

.cta-button::before {
	content: ' ';
	position: absolute;
	z-index: -1;
	left: 0;
	background-color: $primary-color;
	width: 47.5px;
	height: 47.5px;
	border-radius: 50%;
}

.cta-button:hover {
	cursor: pointer;
}

.cta-arrow {
	height: 12px;
}
