/* COLORS */
$primary-color: #ff8607;
$secondary-color: #006633;

$white-100: #ffffff;
$grey-200: #f7f7f7;
$grey-light-300: #e5e5e5;
$grey-dark-400: #646464;
$dark-500: #393738;

/* FONTS */
/* HEADING */
$font-h1-bold: 700 90px/110% 'Prompt', sans-serif;
$font-h1-italic: italic 300 90px/99% 'Prompt', sans-serif;

$font-h2-bold: 700 60px/63px 'Prompt', sans-serif;
$font-h2-italic: italic 300 60px/63px 'Prompt', sans-serif;

$font-h3-bold: 700 40px/48px 'Prompt', sans-serif;
$font-h3-italic: italic 300 40px/48px 'Prompt', sans-serif;

$font-h4-medium: 500 22px/26.4px 'Prompt', sans-serif;

$font-h5-medium: 500 20px/28px 'Prompt', sans-serif;

$font-h6-bold: 700 14px/21px 'Prompt', sans-serif;
$font-h6-light: 300 14px/21px 'Prompt', sans-serif;

/* BODY */

$body-XSS: 300 10px/13px 'Prompt', sans-serif;

$body-XS: 300 15px/22.5px 'Prompt', sans-serif;
$body-XS-medium: 500 15px/22.5px 'Prompt', sans-serif;

$body-S: 300 16px/24px 'Prompt', sans-serif;
$body-S-bold: 500 16px/24px 'Prompt', sans-serif;
$body-S-bold-italic: italic 300 16px/24px 'Prompt', sans-serif;

$body-M: 400 16px/24px 'Prompt', sans-serif;
$body-M-bold: 700 16px/24px 'Prompt', sans-serif;

$body-L: 400 18px/27px 'Roboto';
$body-L-bold: 700 18px/27px 'Roboto';

/* OTHER */
$button-S: 400 14px/21px 'Prompt', sans-serif;
$tag: 400 12px/18px 'Prompt', sans-serif;
